<%= form_for @order, url: new_order_charge_path(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :shipping_to, "Recipient name" %>
    <%= f.text_field :shipping_to, autofocus: true, class: "form-control input-xxl" %>
  </div>

  <div class="form-group">
  <%= f.label :shipping_address_1, "Address 1" %>
  <%= f.text_field :shipping_address_1, class: "form-control input-xl" %>
  </div>

  <div class="form-group">
  <%= f.label :shipping_address_2, "Address 2" %>
  <%= f.text_field :shipping_address_2, class: "form-control input-xl" %>
  </div>

  <div class="form-group"><%= f.label :shipping_city, "City" %>
  <%= f.text_field :shipping_city, class: "form-control input-xl" %>
  </div>

  <div class="form-group"><%= f.label :shipping_state_abr, "State" %>
  <%= f.select :shipping_state_abr, choices = User::STATES.sort, include_blank: true, class: "form-control input-xl" %>
  </div>

  <div class="form-group"><%= f.label :shipping_zip, "Zip" %>
  <%= f.text_field :shipping_zip, class: "form-control input-xl" %>
  </div>

  <!--<div class="actions row_of_buttons">
    <%= f.submit %>
  </div>-->
<% end %>


