<p id="notice"><%= notice %></p>

<div id='order-total-box'>
<h1> Order Total </h1>
<h1 id='order-total'><%= @order.total.to_f %></h1>
</div>

<p>
  Viewing order ID <%= @order.id %> for <%= @order.user.email %>
</p>


<h2>Shopping Cart</h2>

<div class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <div class='cart_border'>
      <table class="table">
        <thead>
          <tr>
            <th colspan='2'>Description</th>
            <th>Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Remove</th>
          </tr>
        </thead>

        <tbody>
          <% @order_products.each do |order_product| %>
            <tr class='row-listing' id='<%= order_product.id%>'>
              <td class="item-description">
                <%= link_to order_product.product do %><%= order_product.product.brand %> <%= order_product.product.model %><% end %>
              </td>
              <td class="item-image"><%= image_tag(order_product.product.image) %></td>
              <td class="item-price"><%= number_to_currency(order_product.product.price) %></td>
              <td class="item-quantity text-center"><%= order_product.quantity %></td>
              <td class="item-remove text-center"><button type='button' class='remove-item' id='<%= order_product.id%>' data-price='<%= order_product.product.price%>'>Remove Item</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row' id='row_of_buttons'>
    <div class='col-md-2 col-md-offset-2'>
      <%= link_to 'Continue Shopping', products_path, class: "btn btn-warning" %>
    </div>
    <div class='col-md-2  col-md-offset-4'>
      <%= link_to 'Proceed to Checkout', new_order_charge_path(@order), class: "btn btn-danger" %>
    </div>
  </div>
</div>



