<p id="notice"><%= notice %></p>

<p>
  Viewing cart for <strong><%= @order.user.email %></strong>
</p>

<h2>Shopping Cart</h2>


<table class="table">
  <thead>
    <tr>
      <th class="cart-header">Description</th>
      <th class="cart-header">Image</th>
      <th class="cart-header">Price</th>
      <th class="cart-header">Quantity</th>
      <th class="cart-header">Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @order_products.each do |order_product| %>
      <tr>
        <td class="item-description">
          <%= link_to order_product.product do %><%= order_product.product.brand %> <%= order_product.product.model %><% end %>
        </td>
        <td class="item-image"><%= image_tag(order_product.product.image) %></td>
        <td class="item-price"><%= number_to_currency(order_product.unit_price) %></td>
        <td class="item-quantity"><%= order_product.quantity %></td>
        <td class="item-remove"><button type='button' class='remove_item' id='<%= order_product.id%>'>Remove Item</button></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Checkout', new_order_charge_path(@order) %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
