<h1>Listing products</h1>


<% @products.each do |product| %>
  <div class='summary'>
    <div class='description'>
      <h3><%= product.category if (product.category)  %></h3>
      <ul>
        <li>Average Rating: <%= product.brand if (product.brand)  %></li>
        <li><%= product.brand if (product.brand)  %></li>
        <li><%= product.model if (product.model)  %></li>
        <li><%= product.price if (product.price)  %></li>
        <li><%= link_to 'See more detail...', product %></li>
      </ul>
    </div>
    <div class='image'>
      <%= image_tag(product.image) %>
    </div>
  </div>
<% end %>
