
<h1><%= flash[:message] %></h1>
<p id="notice"><%= notice %></p>

<h2><span id="product-brand"><%=@product.brand %></span> <span id="product-model" data-id='<%= @product.id %>'><%=@product.model %></span></h2>
<h3><%=@product.category %></h3>
<h3>Rating: <%=@product.avg_rating %></h3>

<div id="links">
    <a href="<%= image_url(@product.image) %>" data-gallery>
        <%= image_tag(@product.image, class: 'main-image') %>
    </a>
    <br>
    <a href="<%= image_url(@product.alt_image_1) %>" data-gallery>
      <%= image_tag(@product.alt_image_1, class: 'thumbnail-image') %>
    </a>
    <a href="<%= image_url(@product.alt_image_2) %>" data-gallery>
        <%= image_tag(@product.alt_image_2, class: 'thumbnail-image') %>
    </a>
    <a href="<%= image_url(@product.alt_image_3) %>" data-gallery>
        <%= image_tag(@product.alt_image_3, class: 'thumbnail-image') %>
    </a>
</div>


<h3>MSRP: <%= number_to_currency(@product.msrp) %></h3>
<h1>Our price: <span id="product-price"><%= number_to_currency(@product.price) %></span></h1>

<ul>
  <li>Orientation: <%=@product.orientation %></li>
  <li>Series: <%=@product.series %></li>
  <li>Year: <%=@product.year %></li>
  <li>Bridge: <%=@product.bridge_type %></li>
  <li>Frets: <%=@product.number_of_frets %></li>
  <li>Neck: <%=@product.neck_type %></li>
  <li>Neck Wood:<%=@product.neck_wood %></li>
  <li>Body Wood: <%=@product.body_wood %></li>
  <li>Case: <%=@product.case_type %></li>
  <li>Description: <%=@product.description %></li>
</ul>

<div id='buttons' data='<%=user_signed_in?%>'>
  <form id='add-to-cart'>
    <input type='button' value='Add to cart' class='add_to_cart_button' data-in-cart='<%=@in_cart%>'>
  </form>

  <form id='remove-from-cart'>
    <input type='button' value='Remove from cart' class='remove_from_cart_button' id='<%= @order_product_row %>' data-in-cart='<%=@in_cart%>'>
  </form>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
