<h2>Review Order</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Description</th>
      <th>Image</th>
      <th class="text-center">Quantity</th>
      <th class="text-right">Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order_products.each do |order_product| %>
      <tr>
        <td class="item-description">
          <%= link_to order_product.product do %><%= order_product.product.brand %> <%= order_product.product.model %><% end %>
        </td>
        <td class="item-image"><%= image_tag(order_product.product.image) %></td>
        <td class="item-quantity text-center"><%= order_product.quantity %></td>
        <td class="item-price text-right"><%= number_to_currency(order_product.product.price) %></td>
      </tr>
    <% end %>
    <tr>
    <td colspan="3"></td>
    <td class="text-right"><strong>Subtotal: <%= number_to_currency @order.total %></strong></td>
    </tr>
  </tbody>
</table>

<div class="text-right">
<%= form_tag order_charges_path do %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Enter payment details"
          data-amount="<%= @order.total_in_pennies %>"
          data-email="<%= @email%>"></script>
<% end %>
</div>






















