<% if user_signed_in? %>
  <div id="cart">
    <div class="panel-group" id="cart-collapsible">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i id="cart-icon" class="fa fa-chevron-up pull-left" data-toggle="collapse" data-target="#collapse-cart"></i>
          <%= link_to order_path(current_user.orders.find_by(processed_at: nil).id) do %>
            <span class="cart-header">Your Cart</span>
          <% end %>
          <span class="badge pull-right" id="item_number"><%= @current_user_order_products.length %></span>
        </div>

        <div id="collapse-cart" class="panel-collapse collapse in">
          <div class="panel-body">
          <!-- Order Products, as list elements -->
            <ul class="list-group" id="cart-preview">
              <li class="list-group-item" id="empty-cart" style="display:block;">Your cart is empty</li>
              <% @current_user_order_products.each do |order_product| %>
                <li class="list-group-item" id="product_<%= order_product.id %>">
                <strong><%= link_to order_product.product do %>
                  <%= order_product.product.brand %> <%= order_product.product.model %>
                <% end %></strong>
                <br>
                <%= number_to_currency(order_product.product.price) %>
                </li>
              <% end %> <!-- order_products.length check (end) -->
            </ul>
          </div> <!-- /panel-body -->
        </div> <!-- /collapse-cart -->

      </div> <!-- /panel-default -->
    </div> <!-- /panel-group -->
  </div> <!-- /cart -->
<% else %> <!-- user_signed_in (false) -->
<div></div>
<% end %> <!-- user_signed_in (end) -->
