<!DOCTYPE html>
<html>
<head>
  <title>Project2Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/cart' %>

<div class="bg"></div>
<div class="jumbotron">
  <h1>Fretrograde!</h1>
  <p class="lead">Guitars so awesome.</p>
</div>

<div class="container-fluid">

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>
  <% end %>

  <nav class="navbar"  role="navigation">
    <div class="container-fluid">
      <ul class="nav nav-pills navbar-nav navbar-left">
          <li><%= link_to "Products", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to "Order History", orders_path %></li>
        <% end %>
      </ul>

      <ul class="nav nav-pills navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><small class="navbar-text">Logged in as <strong><%= current_user.email %></strong></small></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<div class="container">

  <%= yield %>
</div>

<footer>
  <div class="container">
    <div class="row">
      <p>©Fretrograde, 2014 until &infin;</p>
    </div>
  </div>
</footer>


</body>
</html>
